.login-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-password-input {
  width: 10%;
  margin: 10px;
}
.user-email-input {
  width: 10%;
  margin: 10px;
}

.login-button {
  margin-top: 10px;
}
